<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RegressionSuite">
<!--    <listeners>-->
<!--        <listener class-name="common.Listeners"></listener>-->
<!--    </listeners>-->
    <test thread-count="5" name="Home Page Functionality">
        <classes>
            <class name="testcases.cucumber.CucumberTestRunner"/>
        </classes>
    </test>
</suite>